*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(220, 208, 208);
  height: 100vh;
}
.display {
  background-color: black;
  color: white;
  width: 100%;
  font-size: 20px;
  padding: 20px 40px;
  border: none;
  height: 50px;
 

}
.container {
  max-width: 500px;
  padding: 20px;
  
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: darkgray;
  width: 100%;
  
  
}
.button {
  width: 60px;
  height: 60px;
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  opacity: 1;
  font-size: 2rem;
  text-align: center;
 }

 .button:hover {
  opacity: 0.5;
 }
